<section id="project-timeline" class="section section-reverse">
    <div class="container">
        <h1>Project timeline</h1>
        <img src="{{ entry.projectTimeline.one().getUrl() }}" alt="Project timeline">
    </div>
</section>