<header class="header">
    <a href="{{ siteUrl }}"
       style="background: none; padding: 0;">
        {% set logoUrl = mainLogo.mainLogoImage.one().getUrl() %}
        <img src="{{ logoUrl }}" alt="Unstable Games logo" class="header--logo">
    </a>
</header>