#our-story {
    p {
        text-align: left;
        
        &:first-of-type {
            margin-bottom: 1.3rem;
        }
    }
}


@media screen and (max-width: 768px) {
    #our-story {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}