#closerlook-disaster,
#closerlook-point,
#closerlook-instant,
#closerlook-meeple {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    p {
        text-align: center;
    }
}


@media screen and (max-width: 768px) {
    #closerlook-disaster,
    #closerlook-point,
    #closerlook-instant,
    #closerlook-meeple {
        h1 {
            font-size: 3.5rem;
            margin-bottom: 2rem
        }
    }
}