<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ entry.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>

    <header class="header">
        <img src="assets/images/unstablegames-logo-new.svg" alt="Unstable Games logo" class="header--logo">
    </header>

    {% set banner = entry.banner.one().getUrl() %}
    <img id="top-banner" class="banner" src="{{ banner }}" alt="Dinosaur banner">

    <section id="call-to-action" class="section section-main">
        <div class="container">
            <div class="cta-preorder--row">
                <div class="cta-preorder--image left">
                    <img src="assets/images/HLD_Exclusive-Box.png" alt="Exclusive box">
                </div>
                <div class="cta-preorder--description right">
                    <h2>HAPPY LITTLE DINOSAURS EXCLUSIVE EDITION</h2>
                    <p>Lately, it feels like we’re all just dinosaurs trying to avoid the falling meteors. In this game, you’ll try to dodge all of life’s little disasters. You might fall into a pit of hot lava or get ghosted by your dino date, but the dino who survives it all wins the game!</p>
                    <ul>
                        <li>2-6 players</li>
                        <li>30-60 minute play time</li>
                        <li>Ages 8+</li>
                        <li>Includes all 147 cards, 6 Dinosaur player boards, and 6 Dinosaur meeples from the Happy Little Dinosaurs Base Game and 5-6 player expansion pack</li>
                        <li>Includes 5 additional preorder exclusive cards</li>
                        <li>Everything comes in a preorder exclusive box</li>
                    </ul>
                    <a class="cta" href="shop.html">Visit shop</a>
                </div>
            </div>

            <div class="cta-preorder--row">
                <div class="cta-preorder--game left">
                    <p>In this game, you are a Dinosaur, and life repeatedly tries to punch you in the face...you know, just like your real life. But if you thought your life was hard, buckle up. The dino world is full of tar pits, killer squirrels, and really bad haircuts, not to mention the looming threat of extinction. The goal of the game is to survive all of life's little disasters and be the first Dinosaur to reach 50 points. You can also win if you're the last Dinosaur standing...so...if all of your friends are dead.</p>
                </div>
                <div class="cta-preorder--video right">
                    <iframe src="https://www.youtube.com/embed/r-gABuRlsTI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="bundle-table" class="section section-reverse">
        <div class="container">
            <div class="bundle--header">
                <h1>HAPPY LITTLE DINOSAURS EXCLUSIVE BUNDLE</h1>
                <h2>All bundles compared in a neat table below</h2>
            </div>

            <div class="bundle--table">
                <table>
                    <tr>
                        <th class="table-empty"></th>
                        <th>
                            standard<br>edition
                            <span class="table--price">$20</span>
                        </th>
                        <th>
                            exclusive<br>edition
                            <span class="table--price">$35</span>
                        </th>
                    </tr>
                    <tr>
                        <td class="table--rowindicator"># of Players</td>
                        <td>2-4</td>
                        <td>2-6</td>
                    </tr>
                    <tr>
                        <td class="table--rowindicator"># of Cards</td>
                        <td>97</td>
                        <td>147</td>
                    </tr>
                    <tr>
                        <td class="table--rowindicator"># of Meeples</td>
                        <td>4</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td class="table--rowindicator"># of Player Boards</td>
                        <td>4</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td class="table--rowindicator"># of Exlusive Cards</td>
                        <td>0</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td class="table--rowindicator">Preorder Exclusive Box</td>
                        <td></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td class="table--rowindicator">Includes Expansion Cards</td>
                        <td></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section id="includes-standard" class="section section-main">
        <div class="container">
            <h1>What's In The Box?</h1>
            <h2>HAPPY LITTLE DINOSAURS STANDARD EDITION BASE GAME INCLUDES:</h2>
            <img src="assets/images/HLD_Whats-in-the-Box_Base_v1.png" alt="Whats in the base box image" class="whatsinthebox--image">
            <ul>
                <li>97 cards</li>
                <li>•</li>
                <li>4 dinosaur player boards</li>
                <li>•</li>
                <li>4 dinosaur meeples</li>
                <li>•</li>
                <li>1 rule book</li>
            </ul>
        </div>
    </section>

    <section id="includes-expansion" class="section section-reverse">
        <div class="container">
            <h2>HAPPY LITTLE DINOSAURS 5-6 PLAYER EXPANSION PACK INCLUDES:</h2>
            <img src="assets/images/HLD_Whats-in-the-Box_Expansion_v1.png" alt="Whats in the expansion box image" class="whatsinthebox--image">
            <ul>
                <li>50 cards</li>
                <li>•</li>
                <li>2 dinosaur player boards</li>
                <li>•</li>
                <li>2 dinosaur meeples</li>
                <li>•</li>
                <li>1 rule book</li>
            </ul>
        </div>
    </section>

    <img id="spacer-banner" class="banner" src="assets/images/spacer.png" alt="Cute dinosaur running from meteors">

    <section id="closerlook-disaster" class="section section-reverse">
        <div class="container">
            <h1>Take a closer look</h1>
            <img src="assets/images/Take-a-Closer-Look-cards_Disaster_v1.jpg" alt="disaster cards">
            <h2>Disaster cards</h2>
            <p>In Happy Little Dinosaurs, you will work to avoid all of life’s little disasters and laugh as they happen to your friends. If you collect 3 Disaster cards of the same type OR 3 different types of Disaster cards, you will be out of the game.</p>
        </div>
    </section>
    
    <section id="closerlook-point" class="section section-main">
        <div class="container">
            <img src="assets/images/Take-a-Closer-Look-point.png" alt="point cards">
            <h2>Point cards</h2>
            <p>Point cards feature weapons, trinkets, and good luck charms that you use to collect points and avoid disasters. Each card has a point value between 0 and 9 that you will use when scoring a round.</p>
        </div>
    </section>

    <section id="closerlook-instant" class="section section-reverse">
        <div class="container">
            <img src="assets/images/Take-a-Closer-Look-cards_Instant.jpg" alt="instant cards">
            <h2>Instant cards</h2>
            <p>You can use Instant cards at different points during the game to tip the odds in your favor or save your Dinosaur from certain death.</p>
        </div>
    </section>
    
    <section id="closerlook-meeple" class="section section-main">
        <div class="container">
            <img src="assets/images/Take-a-Closer-Look-Meeples.png" alt="meeples">
            <h2>meeples</h2>
            <p>You'll move your Dinosaur meeple along the Excape Route on your player board to track your score.</p>
        </div>
    </section>

    <section id="project-timeline" class="section section-reverse">
        <div class="container">
            <h1>Project timeline</h1>
            <img src="assets/images/Project-Timeline.png" alt="Project timeline">
        </div>
    </section>

    <section id="our-story" class="section section-main">
        <div class="container">
            <h1>Our story</h1>
            <p>We launched our first game, Unstable Unicorns, in 2017 and have been obsessed with making games ever since. All of our games are created by a team of in-house game developers and artists who pride themselves on making games that walk the line between adorable and diabolical. Keep an eye out for jokes and easter eggs as you play, and you may find some delightful details.</p>
            <p>While our games can be brutal and vicious, we actually create them to bring people together. After all, the strongest friendships begin with good, old-fashioned power struggles during game night. Our games are created to be accessible and easy-to learn for new players, but complex enough to keep seasoned veterans intrigued for years to come.</p>
        </div>
    </section>
    
    <section id="other-games" class="section section-reverse">
        <div class="container">
            <h1>Other games</h1>
            <div class="game-container">
                <div class="game-container--game">
                    <div class="game-container--game--data">
                        <img src="assets/images/Other_Game-Box_1000x1000_UU.jpg" alt="Unstable unicorns box">
                        <h2>Unstable unicorns</h2>
                        <p>Build a Unicorn army. Betray your friends. Unicorns are your friends now.</p>
                    </div>
                    <a class="cta" href="shop.html">Buy Now</a>
                </div>

                <div class="game-container--game">
                    <div class="game-container--game--data">
                        <img src="assets/images/Other_Game-Box_1000x1000_LU.jpg" alt="Llamas unleached box">
                        <h2>LLAMAS UNLEASHED</h2>
                        <p>More llama puns, you said!<br>We herd you.</p>
                    </div>
                    <a class="cta" href="shop.html">Buy Now</a>
                </div>

                <div class="game-container--game">
                    <div class="game-container--game--data">
                        <img src="assets/images/Other_Game-Box_1000x1000-HTS.jpg" alt="Here to slay box">
                        <h2>Here to slay</h2>
                        <p>A strategic card game. A role-playing adventure. A dangerous new world.</p>
                    </div>
                    <a class="cta" href="shop.html">Buy Now</a>
                </div>
            </div>
        </div>
    </section>

    <footer>tba</footer>

    <script src="assets/js/index.js"></script>
</body>
</html>