@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

$font-text: 'Source Sans Pro', sans-serif;
$font-dinosaur: 'Gaegu', cursive;

$color-header: #FFF;

$color-bg-main: #2E2832;
$color-text-main: #EAEAEB;
$color-bg-reverse: #FFF;
$color-text-reverse: #1C1E25;

$color-table-header: #2E2832;
$color-table-row: #EEE;
$color-table-cell: #EDECDE;

$color-action: #F4771B;